<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Toàn cảnh vụ Á khôi 17 tuổi bị sát hại, phân xác phi tang ở sông Hồng</title>
    <meta name="description" content="Toàn cảnh vụ Á khôi 17 tuổi bị sát hại, phân xác phi tang ở sông Hồng" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Toàn cảnh vụ Á khôi 17 tuổi bị sát hại, phân xác phi tang ở sông Hồng" />
    <meta property="og:description" content="Toàn cảnh vụ Á khôi 17 tuổi bị sát hại, phân xác phi tang ở sông Hồng" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="Toàn cảnh vụ Á khôi 17 tuổi bị sát hại, phân xác phi tang ở sông Hồng" />
    <meta property="article:published_time" content="2021-11-23T16:00:56+00:00" />
    <meta property="article:modified_time" content="2021-11-23T10:45:09+00:00" />
    <meta property="og:image"
        content="https://media-cdn-v2.laodong.vn/storage/newsportal/2023/10/16/1255130/Phan-Xac5.jpg?w=800&h=496&crop=auto&scale=both" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <meta name="twitter:label1" content="Được viết bởi">
    <meta name="twitter:data1" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        main {
            position: relative
        }

        .circle {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            position: relative;
            border: 1px #4f4e4e solid;
            display: none;
            margin: 10px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            color: #4f4e4e;
        }

        .circle>span {
            color: #333;
            left: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;

        }
    </style>
</head>

<body>
    <main style="height: 100vh;">
        <div class="circle">
            <span class="is-size-5">10</span>
        </div>

    </main>
</body>
<script>
    const anchor = document.querySelector('button.button')
    const countNumberElement = document.querySelector('.circle > span')
    const circle = document.querySelector('div.circle')
    const href = 'https://javhay.movie/em-thu-ky-rieng-dam-dang-va-ten-sep-doi-bai-cuong-dam/'

    circle.style.display = 'block'
    let count = 9
    setInterval(() => {
        countNumberElement.innerText = count
        if (count == 0) {
            window.location.href = href
            return
        }
        count--;
    }, 1000)

</script>

</html>